.monumenta-charms {
	background-image: url('./charmsheet.png');
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 64px;
	height: 64px;
}

.monumenta-Aether-Edge {
	background-position: 0 0;
}

.monumenta-Alch-Charm-1 {
	background-position: -64px 0;
}

.monumenta-Alch-Charm-2 {
	background-position: -128px 0;
}

.monumenta-Alch-Charm-3 {
	background-position: -192px 0;
}

.monumenta-Alch-Charm-4 {
	background-position: -256px 0;
}

.monumenta-Alch-Charm-5 {
	background-position: -320px 0;
}

.monumenta-Alch-Charm-Rare-1 {
	background-position: -384px 0;
}

.monumenta-Alch-Charm-Rare-2 {
	background-position: -448px 0;
}

.monumenta-Alch-Charm-Rare-3 {
	background-position: -512px 0;
}

.monumenta-Alch-Charm-Rare-4 {
	background-position: -576px 0;
}

.monumenta-Alch-Charm-Rare-5 {
	background-position: -640px 0;
}

.monumenta-Apocalyptic-Scroll {
	background-position: -704px 0;
}

.monumenta-Barbed-Spore-Pouch {
	background-position: 0 -64px;
}

.monumenta-Bermudas-Lost-Ruler {
	background-position: -64px -64px;
}

.monumenta-Bewitched-Eye {
	background-position: -128px -64px;
}

.monumenta-Bloodborne-Locket {
	background-position: -192px -64px;
}

.monumenta-Bloodhounds-Crest {
	background-position: -256px -64px;
}

.monumenta-Bloodletters-Blade {
	background-position: -320px -64px;
}

.monumenta-Bloodlust {
	background-position: -384px -64px;
}

.monumenta-Bottled-Infinity {
	background-position: -448px -64px;
}

.monumenta-Bronze-Spikes {
	background-position: -512px -64px;
}

.monumenta-Cerberus-Tooth {
	background-position: -576px -64px;
}

.monumenta-Cleric-Charm-1 {
	background-position: -640px -64px;
}

.monumenta-Cleric-Charm-2 {
	background-position: -704px -64px;
}

.monumenta-Cleric-Charm-3 {
	background-position: 0 -128px;
}

.monumenta-Cleric-Charm-4 {
	background-position: -64px -128px;
}

.monumenta-Cleric-Charm-5 {
	background-position: -128px -128px;
}

.monumenta-Cleric-Charm-Rare-1 {
	background-position: -192px -128px;
}

.monumenta-Cleric-Charm-Rare-2 {
	background-position: -256px -128px;
}

.monumenta-Cleric-Charm-Rare-3 {
	background-position: -320px -128px;
}

.monumenta-Cleric-Charm-Rare-4 {
	background-position: -384px -128px;
}

.monumenta-Cleric-Charm-Rare-5 {
	background-position: -448px -128px;
}

.monumenta-Cold-Steel {
	background-position: -512px -128px;
}

.monumenta-Copper-Furnace {
	background-position: -576px -128px;
}

.monumenta-Cracked-Pocketwatch {
	background-position: -640px -128px;
}

.monumenta-Cry-Havoc {
	background-position: -704px -128px;
}

.monumenta-Deepslate-Chunk {
	background-position: 0 -192px;
}

.monumenta-Dragons-Eye {
	background-position: -64px -192px;
}

.monumenta-Duelists-Sigil {
	background-position: -128px -192px;
}

.monumenta-Earthquake-Staff {
	background-position: -192px -192px;
}

.monumenta-Echo-of-the-Beast {
	background-position: -256px -192px;
}

.monumenta-Emerald-Lens {
	background-position: -320px -192px;
}

.monumenta-Epic-Charm-1 {
	background-position: -384px -192px;
}

.monumenta-Epic-Charm-2 {
	background-position: -448px -192px;
}

.monumenta-Epic-Charm-3 {
	background-position: -512px -192px;
}

.monumenta-Epic-Charm-4 {
	background-position: -576px -192px;
}

.monumenta-Epic-Charm-5 {
	background-position: -640px -192px;
}

.monumenta-Event-Horizon {
	background-position: -704px -192px;
}

.monumenta-Everflow-Pendant {
	background-position: 0 -256px;
}

.monumenta-Explosive-Reagent {
	background-position: -64px -256px;
}

.monumenta-Fecund-Berry {
	background-position: -128px -256px;
}

.monumenta-Fecund-Berry-Basket {
	background-position: -192px -256px;
}

.monumenta-Fox-Frenzy {
	background-position: -256px -256px;
}

.monumenta-Fungal-Fortitude {
	background-position: -320px -256px;
}

.monumenta-Gen-Charm-1 {
	background-position: -384px -256px;
}

.monumenta-Gen-Charm-2 {
	background-position: -448px -256px;
}

.monumenta-Gen-Charm-3 {
	background-position: -512px -256px;
}

.monumenta-Gen-Charm-4 {
	background-position: -576px -256px;
}

.monumenta-Gen-Charm-5 {
	background-position: -640px -256px;
}

.monumenta-Gen-Charm-Rare-1 {
	background-position: -704px -256px;
}

.monumenta-Gen-Charm-Rare-2 {
	background-position: 0 -320px;
}

.monumenta-Gen-Charm-Rare-3 {
	background-position: -64px -320px;
}

.monumenta-Gen-Charm-Rare-4 {
	background-position: -128px -320px;
}

.monumenta-Gen-Charm-Rare-5 {
	background-position: -192px -320px;
}

.monumenta-Guiding-Moonlight {
	background-position: -256px -320px;
}

.monumenta-Hexblade {
	background-position: -320px -320px;
}

.monumenta-Hydraulic-Chausses {
	background-position: -384px -320px;
}

.monumenta-Imperial-Jewel {
	background-position: -448px -320px;
}

.monumenta-Keter-Core {
	background-position: -512px -320px;
}

.monumenta-Laser-Attachment {
	background-position: -576px -320px;
}

.monumenta-Mage-Charm-1 {
	background-position: -640px -320px;
}

.monumenta-Mage-Charm-2 {
	background-position: -704px -320px;
}

.monumenta-Mage-Charm-3 {
	background-position: 0 -384px;
}

.monumenta-Mage-Charm-4 {
	background-position: -64px -384px;
}

.monumenta-Mage-Charm-5 {
	background-position: -128px -384px;
}

.monumenta-Mage-Charm-Rare-1 {
	background-position: -192px -384px;
}

.monumenta-Mage-Charm-Rare-2 {
	background-position: -256px -384px;
}

.monumenta-Mage-Charm-Rare-3 {
	background-position: -320px -384px;
}

.monumenta-Mage-Charm-Rare-4 {
	background-position: -384px -384px;
}

.monumenta-Mage-Charm-Rare-5 {
	background-position: -448px -384px;
}

.monumenta-Manaleaf-Razor {
	background-position: -512px -384px;
}

.monumenta-Molldyers-Chalk {
	background-position: -576px -384px;
}

.monumenta-Molten-Meteorite {
	background-position: -640px -384px;
}

.monumenta-Morels-Bracers {
	background-position: -704px -384px;
}

.monumenta-Mourning-Star {
	background-position: 0 -448px;
}

.monumenta-Mycelian-Serum {
	background-position: -64px -448px;
}

.monumenta-Nihilo-Core {
	background-position: -128px -448px;
}

.monumenta-Pious-Prism {
	background-position: -192px -448px;
}

.monumenta-Pressure-Gauntlet {
	background-position: -256px -448px;
}

.monumenta-Regenerating-Chalk {
	background-position: -320px -448px;
}

.monumenta-Rocket-Boots {
	background-position: -384px -448px;
}

.monumenta-Rogue-Charm-1 {
	background-position: -448px -448px;
}

.monumenta-Rogue-Charm-2 {
	background-position: -512px -448px;
}

.monumenta-Rogue-Charm-3 {
	background-position: -576px -448px;
}

.monumenta-Rogue-Charm-4 {
	background-position: -640px -448px;
}

.monumenta-Rogue-Charm-5 {
	background-position: -704px -448px;
}

.monumenta-Rogue-Charm-Rare-1 {
	background-position: 0 -512px;
}

.monumenta-Rogue-Charm-Rare-2 {
	background-position: -64px -512px;
}

.monumenta-Rogue-Charm-Rare-3 {
	background-position: -128px -512px;
}

.monumenta-Rogue-Charm-Rare-4 {
	background-position: -192px -512px;
}

.monumenta-Rogue-Charm-Rare-5 {
	background-position: -256px -512px;
}

.monumenta-Royal-Jewel {
	background-position: -320px -512px;
}

.monumenta-Rune-of-Dominion {
	background-position: -384px -512px;
}

.monumenta-Rune-of-Rejection {
	background-position: -448px -512px;
}

.monumenta-Scout-Charm-1 {
	background-position: -512px -512px;
}

.monumenta-Scout-Charm-2 {
	background-position: -576px -512px;
}

.monumenta-Scout-Charm-3 {
	background-position: -640px -512px;
}

.monumenta-Scout-Charm-4 {
	background-position: -704px -512px;
}

.monumenta-Scout-Charm-5 {
	background-position: 0 -576px;
}

.monumenta-Scout-Charm-Rare-1 {
	background-position: -64px -576px;
}

.monumenta-Scout-Charm-Rare-2 {
	background-position: -128px -576px;
}

.monumenta-Scout-Charm-Rare-3 {
	background-position: -192px -576px;
}

.monumenta-Scout-Charm-Rare-4 {
	background-position: -256px -576px;
}

.monumenta-Scout-Charm-Rare-5 {
	background-position: -320px -576px;
}

.monumenta-Silver-Ring {
	background-position: -384px -576px;
}

.monumenta-Silver-Strings {
	background-position: -448px -576px;
}

.monumenta-Skull-of-Isharist {
	background-position: -512px -576px;
}

.monumenta-Soul-Synchronizer {
	background-position: -576px -576px;
}

.monumenta-Spellbound-Spearhead {
	background-position: -640px -576px;
}

.monumenta-Threads-of-Valor {
	background-position: -704px -576px;
}

.monumenta-Tome-of-Broken-Vows {
	background-position: 0 -640px;
}

.monumenta-True-Ice-Pendant {
	background-position: -64px -640px;
}

.monumenta-Urn-of-Perpetuity {
	background-position: -128px -640px;
}

.monumenta-Warlock-Charm-1 {
	background-position: -192px -640px;
}

.monumenta-Warlock-Charm-2 {
	background-position: -256px -640px;
}

.monumenta-Warlock-Charm-3 {
	background-position: -320px -640px;
}

.monumenta-Warlock-Charm-4 {
	background-position: -384px -640px;
}

.monumenta-Warlock-Charm-5 {
	background-position: -448px -640px;
}

.monumenta-Warlock-Charm-Rare-1 {
	background-position: -512px -640px;
}

.monumenta-Warlock-Charm-Rare-2 {
	background-position: -576px -640px;
}

.monumenta-Warlock-Charm-Rare-3 {
	background-position: -640px -640px;
}

.monumenta-Warlock-Charm-Rare-4 {
	background-position: -704px -640px;
}

.monumenta-Warlock-Charm-Rare-5 {
	background-position: 0 -704px;
}

.monumenta-Warrior-Charm-1 {
	background-position: -64px -704px;
}

.monumenta-Warrior-Charm-2 {
	background-position: -128px -704px;
}

.monumenta-Warrior-Charm-3 {
	background-position: -192px -704px;
}

.monumenta-Warrior-Charm-4 {
	background-position: -256px -704px;
}

.monumenta-Warrior-Charm-5 {
	background-position: -320px -704px;
}

.monumenta-Warrior-Charm-Rare-1 {
	background-position: -384px -704px;
}

.monumenta-Warrior-Charm-Rare-2 {
	background-position: -448px -704px;
}

.monumenta-Warrior-Charm-Rare-3 {
	background-position: -512px -704px;
}

.monumenta-Warrior-Charm-Rare-4 {
	background-position: -576px -704px;
}

.monumenta-Warrior-Charm-Rare-5 {
	background-position: -640px -704px;
}

