.listSelectorContainer {
    border-radius: 5px;
    border: 1px solid white;
    display: block;
}
  
.listSelectorInputs {
    display: inline-flex;
    width: 100%;
}

.listSelectorList {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.entryInput {
    width: 25em;
}

.entry {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
}

.entry:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: lightgray;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.button {
    width: 38px;
    height: 38px;
    font-weight: bold;
    border: 1px solid white;
    background: none;
}

.button:hover {
    background: #222222;
}

.powerStars {
    text-align: center;
    font-size: 18px;
}

.activeStars {
    color: #fcb23d;
}