.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
}

.selects {
    width: 400px;
    padding-left: 10px;
}

@media only screen and (max-width: 800px) {
    .inputs {
        display: unset;
    }

    .selects {
        width: auto;
        padding-left: 0;
    }
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.checkboxSubgroup {
    display: flex;
}

.select {
    color: white;
    background-color: #2a2a2a;
}

.hidden {
    display: none !important;
}

.itemTile {
    font-size: 1em;
    line-height: 1.3;
    width: 280px;
    box-sizing: border-box;
    margin: 15px;
    background: #110110;
    border: 3px solid #2c0860;
    box-shadow: 4px 0 0 #110110, -4px 0 #110110, 0 4px 0 #110110, 0 -4px 0 #110110;
    color: #aaa;
    text-shadow: 1px 1px 0 #2a2a2a;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.checkboxWithLabel {
    outline: 1px solid #cccccc;
    background-color: black;
    padding: 4px;
    margin: 2px;
    width: fit-content;
    height: 40px;
}

.checkboxWithLabel>* {
    padding-left: 3px;
}

.submitButton {
    width: 70%;
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.warningButton {
    width: 30%;
    background-color: crimson;
    border-color: crimson;
}

.imageIcon {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.itemsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.enchants {
    display: flex;
    flex-direction: column;
}

.tier1, .tier2, .tier3, .tier4, .tier5, .infoText {
    color: #545454;
}

.uncommon {
    color: #bebebe;
}

.unique {
    color: #c6a0c6;
}

.rare {
    color: #49c0e2;
}

.artifact {
    color: #ce2d27;
}

.attribrutes, .positiveStat {
    color: #5454fc;
}

.baseStats {
    color: #00a800;
}

.positiveDefence {
    color: #32cafc;
}

.masterworkStar {
    color: #fcb23d;
}

.name {
    font-weight: bold;
}

.name.tier1, .name.tier2, .name.tier3, .name.tier4, .name.tier5 {
    font-weight: normal !important;
}

.name.tier5 {
    color: #54fc54;
}

.name.epic {
    text-decoration: underline;
}

.epic {
    color: #b114e0;
    font-weight: bold;
}

.name.legendary {
    text-decoration: underline;
}

.legendary {
    color: #fcd400;
    font-weight: bold;
}

.curses, .negativeStat {
    color: #fc5454;
}

.white {
    color: #FCFCFC;
}

.orange {
    color: #FCA800;
}

.magenta {
    color: #FC54FC;
}

.lightBlue {
    color: #49C0E2;
}

.yellow {
    color: #FCFC54;
}

.lime {
    color: #54FC54;
}

.pink {
    color: #FC68B2;
}

.gray {
    color: #545454;
}

.lightGray {
    color: #A8A8A8;
}

.cyan {
    color: #00A8A8;
}

.purple {
    color: #A800A8;
}

.teal {
    color: #46B4B3;
}

.shifting {
    color: #7DFCD1;
}

.patron {
    color: #80D817;
}

.forum {
    color: #7E7E00;
}

.tOV {
    color: #C6A0C6;
}

.docks {
    color: #196281;
}

.carnival {
    color: #CE2D27;
}

.delves {
    color: #B26F27;
}

.rush {
    color: #C01E55;
}

.horseman {
    color: #8C3318;
}

.mist {
    color: #664B5A;
}

.remorse {
    color: #EBE3D3;
}

.depths {
    color: #5C2C85;
}

.eldrask {
    color: #85CCF7;
}

.hekawt {
    color: #FCB23D;
}

.pORTAL {
    color: #d9e5e0;
}

.ruin {
    color: #316ca6;
}

.theWolfswood {
    color: #4b8d4c;
}

.blue {
    color: #0c2ba0;
}

.sKT {
    color: #bebebe;
}

.peliasKeep {
    color: #c2b9a3;
}

.sanguineHalls {
    color: #a90000;
}

.questReward {
    color: #c6a0c6;
}

.base {
    color: #fcf774;
}

.positiveCharm {
    color: #49c0e2;
}

.negativeCharm {
    color: #ce2d27;
}

.alchemist {
    color: #5ea819;
}

.warrior {
    color: #db2445;
}

.cleric {
    color: #fcc443;
}

.rogue {
    color: #35383c;
}

.mage {
    color: #a11ecc;
}

.scout {
    color: #2488c6;
}

.warlock {
    color: #c524b7;
}

.generalist {
    color: #9d8d8f;
}

.islesDelves {
    color: rgb(255, 237, 184);
}

.islesCasino {
    color: rgb(224, 226, 255);
}

.islesOverworld {
    color: rgb(224, 235, 255);
}

.celsianIsles {
    color: rgb(244, 248, 255);
}

.valleyDelves {
    color: rgb(255, 237, 184);
}

.armory {
    color: rgb(255, 237, 184);
}

.valleyCasino {
    color: rgb(255, 250, 236);
}

.valleyOverworld {
    color: rgb(255, 255, 232);
}

.kingsValley {
    color: rgb(245, 255, 245);
}

.lowtideSmuggler {
    color: rgb(202, 202, 231);
}

.azacor {
    color: rgb(246, 197, 182);
}

.labs {
    color: #B2AAC1;
}

.willows {
    color: #006300;
}

.sanctum {
    color: #51A800;
}

.reverie {
    color: #780E46;
}

.corridors {
    color: #890000;
}

.verdant {
    color: #158115;
}

.kaul {
    color: rgb(158, 210, 146);
}