.searchContainer {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.deleteButton {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    height: 100%;
    color: #9d0d29;
    font-weight: bold;
    border: 2px solid #9d0d29;
    background-color: transparent;
    transition-duration: 600ms;
    aspect-ratio: 1;
}

.deleteButton:hover {
    background-color: #ad0f2e;
    color: black;
}

.addFilterButton {
    margin-block: 0.5vh;
    margin-right: 1%;
    padding: 0.5vh;
    width: 9%;
    border: 3px solid white;
    font-weight: bold;
    background-color: transparent;
    transition-duration: 600ms;
}

.addFilterButton:hover {
    background-color: #e6e6e6;
    color: black;
}

.submitButton {
    margin-block: 0.5vh;
    padding: 0.5vh;
    width: 60%;
    animation: background-pan 5s linear infinite;
    background: linear-gradient(
        to right,
        #3d3286,
        #2f4187,
        #3d3286
    );
    background-size: 200%;
    border: 3px solid #3d3286;
    transition-duration: 600ms;
}

.submitButton:hover {
    filter: brightness(125%);
}

.warningButton {
    margin-block: 0.5vh;
    margin-left: 1%;
    padding: 0.5vh;
    width: 29%;
    animation: background-pan 5s linear infinite;
    background: linear-gradient(
        to right,
        #8c0b25,
        #a82a2a,
        #8c0b25
    );
    background-size: 200%;
    border: 3px solid #8c0b25;
    transition-duration: 600ms;
}

.warningButton:hover {
    filter: brightness(125%);
}

.searchField {
    background-color: black;
    border: none;
    border-bottom: 1px solid #999999;
    color: #bababa;
    height: 4vh;
    width: 100%;
    margin-top: 15px;
    padding-inline: 1vw;
    font-size: 18px;
    transition-duration: 500ms;
}

.searchField:hover {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.searchField:focus {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: 0px 4px 2px -2px #ffffff;
    outline: none;
}

@media (min-width: 600px) {
    .categoryWidth {
        min-width: 150px;
    }
    
    .selectorWidth {
        min-width: 250px;
    }
}

@media (max-width: 599px) {
    .categoryWidth {
        max-width: 30vw;
    }

    .selectorWidth {
        max-width: 40vw;
    }
}